* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 5px double red;
  font-size: 1.5rem;
  margin: 1.5em;
  /* margin-top: 1.5em;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em; */
  padding: 1.5em;
  outline: 5px solid purple;
  outline-offset: -10px;
}

/* 
rem = 16px
to clarify, 1em will be equal to the rem
you set it to so
1em = 1.5rem
2em = 3rem
so em looks at the set rem
margin goes top-right-bottom-left in that order
outlines dont take up space and are not calculated like the others in the box model
auto centers it horizontally not vertically
border radius rounds the edges and can make it a circle
*/

.circle {
  margin: 3rem auto;
  background-color: gold;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 20px;
  outline: 2px solid red;
  outline-offset: 0.25rem;

}