* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: dashed red;
  border-top-style: ridge;
  border-right: 10px dotted blue;
  font-size: 1.5rem;
  margin: 1.5em;
  /* margin-top: 1.5em;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em; */
  padding: 1.5em;
}

/* 
rem = 16px
to clarify, 1em will be equal to the rem
you set it to so
1em = 1.5rem
2em = 3rem
so em looks at the set rem
margin goes top-right-bottom-left in that order
*/
