* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px dashed red;
  font-size: 1.5rem;
  padding: 1.5em;
  margin-top: 1.5em;
  margin-right: 2em;
}

/* 
rem = 16px
to clarify, 1em will be equal to the rem
you set it to so
1em = 1.5rem
2em = 3rem
so em looks at the set rem
*/
