body {
  font-size: 22px;
}

h1,
h2 {
  color: blueviolet;
}

p {
  color: purple;
}

.highlight {
  text-transform: uppercase;
  background-color: gold;
}

/* classes must start with a .*/

.gray {
  color: gray;
}

#third {
  font-style: italic;
}
